<?xml version="1.0" encoding="utf-8"?>
<log4net debug ="false">
  <appender name="UdpAppender" type="log4net.Appender.UdpAppenderNetCore, Log4netUpdAppenderNetCore">
    <remoteAddress value="127.0.0.1" />
    <remotePort value="7073" />
    <layout type="log4net.Layout.XmlLayout">
      <locationInfo value="false" />
      <prefix value =""/>
      </layout>
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="DEBUG"/>
    <appender-ref ref="UdpAppender" />
    <appender-ref ref="ConsoleAppender" />
  </root>
</log4net>